.login-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#nav-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1031;
    background-color: black;
    opacity: .5;
}
nav.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 1032;
    background-color: #ffffff;
    transition: .2s;
    /* box-shadow: 1rem .5rem 1rem rgba(255,255,255,.15) */
}
nav.menu .title-nav {
    font-weight: 700;
    color: #000000;
}
nav.menu i {
    width: 23px;
}

.mini-menu-back {
    display: none;
}
@media screen and (max-width: 1000px) {
    .mini-menu {
        /* display: none; */
        position: absolute;
        z-index: 10;
    }
    .mini-menu-back {
        display: block;
        top: 5px;
        right: -27px;
        z-index: 1;
        cursor: pointer;
        background: #ffffff;
        border-radius: 50%;
        width: 26px;
        opacity: .7;
    }
    .mini-menu-back:hover {
        opacity: 1;
    }
}

.table-adaptive .table-adaptive-minim {
    display: none;
}
@media screen and (max-width: 516px) {

    .table-adaptive thead {
        display: none;
    }

    .table-adaptive tbody tr > *{
        display: block;
    }
    .table-adaptive tbody tr > *:not(.no-data-info):before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
    }
    .table-adaptive tbody tr > th {
        background: #212529;
        color: #fff;
    }
    .table-adaptive .table-adaptive-minim {
        display: inline-block;
    }

}

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

body {
    background-color: #f8f8f8;
}
textarea { resize: none; }
.outline-none { outline: none!important; }

.handle { cursor: move; }
.hover-link { cursor: pointer; opacity: .7; }
.hover-link:hover { opacity: 1; }

#global-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.loading-in-body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffffbf;
}
.block-added-photo { position: relative; }
.image-loading, .looooo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.looooo {
    background-color: #ffffffbf;
}

.global-button-add {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    opacity: .6;
}
.global-button-add:hover {
    opacity: 1;
}

.content-block-width {
    max-width: 600px;
}

.modal .modal-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffffbf;
}

.main-auth-form, .logo-company {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.logo-company img {
    margin-top: 50px;
    /* width: 200px; */
}
.main-auth-form .loading-data {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -16px;
}

#global-notisy {
    display: none;
    margin: 10px auto 0;
    max-width: 600px;
    z-index: 2000;
}
button.close {
    outline: none;
}

.search-bar {
    max-width: 700px;
}

/*  */
#admin-content, #main-content {
    margin: 0 auto;
    max-width: 1300px;
    cursor: default;
}
#admin-content .list-group a {
    white-space: nowrap;
}
#admin-content .list-group a > i {
    min-width: 21px;
}

/** */
.card.card-montage {
    margin: 20px auto 0;
    max-width: 800px;
}

#table-check {
    font-size: 12px;
}

.fa-for-hover {
    cursor: pointer;
    opacity: .5;
}
.fa-for-hover:hover {
    opacity: 1;
}


.item-responsive {
    position: relative; /* относительное позиционирование */
    overflow: hidden;
}
.item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}
.item-16by9 {
    padding-top: 56.25%; /* (9:16)*100% */
}
/* При необходимости (для блоков, имеющих данные классы) */
.item-4by3 {
    padding-top: 75%; /* (3:4)*100% */
}
.item-2by1 {
    padding-top: 50%; /* (1:2)*100% */
}
.item-1by1 {
    padding-top: 100%; /* (1:1)*100% */
}
.item-responsive > .item-responsive-content {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/css/img/ajax-loader-3.gif) 50% no-repeat;
}
.item-responsive > img {
    position: absolute; /* абсолютное положение элемент */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.opacity-10 { opacity: .1; }
.opacity-20 { opacity: .2; }
.opacity-30 { opacity: .3; }
.opacity-40 { opacity: .4; }
.opacity-50 { opacity: .5; }
.opacity-60 { opacity: .6; }
.opacity-70 { opacity: .7; }
.opacity-80 { opacity: .8; }
.opacity-90 { opacity: .9; }
.opacity-100 { opacity: 1; }

.for-new-comment {
    outline: none;
}

.img-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1030;
    background: #000000c4;
}
.img-content > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 99%;
    max-height: 99%;
    border-radius: 5px;
}
.img-content > button {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    opacity: .7;
}

.img-content > .next,
.img-content > .back {
    position: absolute;
    z-index: 3;
    width: 150px;
    top: 60px;
    bottom: 10px;
}
.img-content > .next { right: 10px; }
.img-content > .back { left: 10px; }


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 6px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 6px rgba(204,169,44, 0);
        box-shadow: 0 0 0 6px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

.btn.btn-light-main {
    border: 1px solid rgba(0,0,0,.125);
}
.btn.btn-light-main:hover {
    background: rgba(0,0,0,0.05);
}
.btn.btn-light-main:active,
.btn.btn-light-main:focus {
    outline-color: rgba(0,0,0,0.05);
}

.new-data {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fd7e14;
    z-index: 10;
}
.new-data-menu {
    display: inline-block;
    position: absolute;
    top: calc(50% - 2px);
    right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #fd7e14;
    z-index: 10;
}
.new-data.pulse,
.new-data-menu.pulse {
    animation: pulse 2s infinite;
}

.comment-form .i-add-file {
    left: 10px;
    z-index: 5;
}
.comment-form .i-send-message {
    right: 10px;
    z-index: 10;
}

#repair .list-group-item {
    border-color: #dfdfdf;
}